<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/skeleton.css">
</head>
    <title>Budgtr Details</title>

<body>
<h1>Retirement</h1>
<div class="container">
<h2>Date</h2>
<%=Budgets.date %></a>
<h2>Name</h2>
<%=Budgets.name %></a>
<h2>From</h2>
<%=Budgets.from %></a>
<h2>Amount</h2>
<%=Budgets.amount %>
<h2>Tags</h2>
<%=Budgets.tags %>
</div>
<button> <a href="/index"> Return to Home</button>

<% console.log(Budgets.name,"Show Page") %>


</body>