<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">

    <% let total =0 %>
<style>
    table {
  width: 100%;
}
th {
  height: 30px;
}
body {
            text-align: center;
            background-color: #F0F0F0;
}
</style>
</head>
    <title>Budgtr Details</title>

<body>
<div><a href="https://imgbb.com/"><img src="https://i.ibb.co/NSbTwkm/logo.png" alt="logo" border="0"></a>
</div>
<th><h1>Budtgr: Your Bank Account Details</h1></th>
<tr><h1>Date</h1></tr>
<h3><%=Budgets.date %></a></h3>
<tr><h1>Name</h1></tr>
<h3><%=Budgets.name %></a></h3>
<h2>From</h2>
<h3><%=Budgets.from %></a></h3>
<h2>Amount</h2>
<h3><%=Budgets.amount %></h3>
<h2>Tags</h2>
<h3><%=Budgets.tags %></h3>
</div>
<button> <a href="/budgets/"> Return to Home</button>


<% console.log(Budgets.name,"Show Page") %>


</body>